In [19]:
import pandas as pd

In [20]:
data = pd.read_csv("data/train.csv")
test = pd.read_csv("data/test.csv")

In [21]:
def clean(data):
    data = data.drop(["Ticket", "Cabin", "Name", "PassengerId"], axis=1)
    cols = ["SibSp", "Parch", "Fare", "Age"]

    for col in cols:
        data.fillna({col: data[col].median()}, inplace=True)
    
    data.Embarked.fillna("U", inplace=True)
    return data

data = clean(data)
test = clean(test)
data.head(5)

/var/folders/6v/r791v73x5ld7ck2l7tk19xvr0000gn/T/ipykernel_5324/1052546518.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.Embarked.fillna("U", inplace=True)
/var/folders/6v/r791v73x5ld7ck2l7tk19xvr0000gn/T/ipykernel_5324/1052546518.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.Embarked.fillna("U", inplace=True)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [ ]:
from sklearn import preprocessing